.button {
  border: none;
  border-radius: 6px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, box-shadow 0.2s ease;

  &:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }

  &:active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  }

  &--small {
    min-width: 120px;
    height: 45px;
    font-size: 14px;
  }

  &--medium {
    min-width: 150px;
    height: 55px;
    font-size: 16px;
  }

  &--large {
    min-width: 180px;
    height: 60px;
    font-size: 18px;
  }

  /* ==== VARIANTES ==== */
  &--primary {
    background-color: #c8e2df;
    color: #008081;

    &:hover {
      background-color: #c8e2df;
    }
  }

  &--secondary {
    background-color: #adcde7;
    color: #1976D2;

    &:hover {
      background-color: #adcde7;
    }
  }

  &--text {
    background-color: transparent;
    color: #666;
    border: 1px solid transparent;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
      color: #333;
    }
  }
}